# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/
Pods/Manifest.lock
Pods/DropBlocks/LICENSE
Pods/DropBlocks/README.md
Pods/DropBlocks/DropBlocks/Classes/DropBlocks.h
Pods/DropBlocks/DropBlocks/Classes/DropBlocks.m
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/LICENSE
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/DropboxSDK
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Info.plist
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBAccountInfo.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBBase64Transcoder.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBDeltaEntry.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBError.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBJSON.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBJsonBase.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBJsonParser.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBJsonWriter.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBLog.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBMetadata.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBQuota.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBRequest.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBRestClient.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBSession+iOS.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DBSession.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DropboxSDK-Prefix.pch
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/DropboxSDK.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/JSON.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPDebug.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuth.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthAPI.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthAPIRequestLoader.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthAuthenticationMethod.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthAuthenticationMethodOAuth.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthConnection.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthCredentialConcreteStore+KeychainAdditions.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthCredentialConcreteStore.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthCredentialStore.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthParameterFactory.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthSignatureParameter.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthURLRequest.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPOAuthURLResponse.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/MPURLRequestParameter.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSDictionary+Dropbox.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSObject+DBJSON.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSString+DBJSON.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSString+Dropbox.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSString+URLEscapingAdditions.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSURL+MPURLParameterAdditions.h
Pods/Dropbox-iOS-SDK/dropbox-ios-sdk-1.3.13/DropboxSDK.framework/Headers/NSURLResponse+Encoding.h
Pods/Headers/Private/DropBlocks/DropBlocks.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBAccountInfo.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBBase64Transcoder.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBDeltaEntry.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBError.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBJSON.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBJsonBase.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBJsonParser.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBJsonWriter.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBLog.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBMetadata.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBQuota.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBRequest.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBRestClient.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBSession+iOS.h
Pods/Headers/Private/Dropbox-iOS-SDK/DBSession.h
Pods/Headers/Private/Dropbox-iOS-SDK/DropboxSDK.h
Pods/Headers/Private/Dropbox-iOS-SDK/JSON.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPDebug.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuth.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthAPI.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthAPIRequestLoader.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthAuthenticationMethod.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthAuthenticationMethodOAuth.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthConnection.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthCredentialConcreteStore+KeychainAdditions.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthCredentialConcreteStore.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthCredentialStore.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthParameterFactory.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthSignatureParameter.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthURLRequest.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPOAuthURLResponse.h
Pods/Headers/Private/Dropbox-iOS-SDK/MPURLRequestParameter.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSDictionary+Dropbox.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSObject+DBJSON.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSString+DBJSON.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSString+Dropbox.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSString+URLEscapingAdditions.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSURL+MPURLParameterAdditions.h
Pods/Headers/Private/Dropbox-iOS-SDK/NSURLResponse+Encoding.h
Pods/Headers/Public/DropBlocks/DropBlocks.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBAccountInfo.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBBase64Transcoder.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBDeltaEntry.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBError.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBJSON.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBJsonBase.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBJsonParser.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBJsonWriter.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBLog.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBMetadata.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBQuota.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBRequest.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBRestClient.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBSession+iOS.h
Pods/Headers/Public/Dropbox-iOS-SDK/DBSession.h
Pods/Headers/Public/Dropbox-iOS-SDK/DropboxSDK.h
Pods/Headers/Public/Dropbox-iOS-SDK/JSON.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPDebug.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuth.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthAPI.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthAPIRequestLoader.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthAuthenticationMethod.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthAuthenticationMethodOAuth.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthConnection.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthCredentialConcreteStore+KeychainAdditions.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthCredentialConcreteStore.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthCredentialStore.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthParameterFactory.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthSignatureParameter.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthURLRequest.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPOAuthURLResponse.h
Pods/Headers/Public/Dropbox-iOS-SDK/MPURLRequestParameter.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSDictionary+Dropbox.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSObject+DBJSON.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSString+DBJSON.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSString+Dropbox.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSString+URLEscapingAdditions.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSURL+MPURLParameterAdditions.h
Pods/Headers/Public/Dropbox-iOS-SDK/NSURLResponse+Encoding.h
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader-acknowledgements.markdown
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader-acknowledgements.plist
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader-dummy.m
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader-environment.h
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader-resources.sh
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader.debug.xcconfig
Pods/Target Support Files/Pods-DropboxPhotoUploader/Pods-DropboxPhotoUploader.release.xcconfig
Pods/Target Support Files/Pods-DropboxPhotoUploader-DropBlocks/Pods-DropboxPhotoUploader-DropBlocks-dummy.m
Pods/Target Support Files/Pods-DropboxPhotoUploader-DropBlocks/Pods-DropboxPhotoUploader-DropBlocks-prefix.pch
Pods/Target Support Files/Pods-DropboxPhotoUploader-DropBlocks/Pods-DropboxPhotoUploader-DropBlocks-Private.xcconfig
Pods/Target Support Files/Pods-DropboxPhotoUploader-DropBlocks/Pods-DropboxPhotoUploader-DropBlocks.xcconfig
Pods/Headers/Private/MBProgressHUD/MBProgressHUD.h
Pods/Headers/Public/MBProgressHUD/MBProgressHUD.h
Pods/MBProgressHUD/LICENSE
Pods/MBProgressHUD/MBProgressHUD.h
Pods/MBProgressHUD/MBProgressHUD.m
Pods/MBProgressHUD/README.mdown
Pods/Target Support Files/Pods-DropboxPhotoUploader-MBProgressHUD/Pods-DropboxPhotoUploader-MBProgressHUD-dummy.m
Pods/Target Support Files/Pods-DropboxPhotoUploader-MBProgressHUD/Pods-DropboxPhotoUploader-MBProgressHUD-prefix.pch
Pods/Target Support Files/Pods-DropboxPhotoUploader-MBProgressHUD/Pods-DropboxPhotoUploader-MBProgressHUD-Private.xcconfig
Pods/Target Support Files/Pods-DropboxPhotoUploader-MBProgressHUD/Pods-DropboxPhotoUploader-MBProgressHUD.xcconfig
